html {
  font-family: 'Roboto Condensed', sans-serif;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-size: 1.3em;
  background-color: #263238;
}

.container {
  position: relative;
  min-height: 100%;
}

.left {
  width: 23%;
  position: fixed;
  height: 100%;
  color: #fff;  
}

.right {
  position: absolute;
  right: 0;
  min-height: 100%;
  width: 77%;
  background: #fff;
}

.content h1 {
  font-size: 3.5em;
  color: #263238;
}

header {
  height: auto;
  padding: 5em 3em;
}

h1, h2, h3, h4, h5, h6, header p {
  margin: 0;
  padding: 0;
}

header p {
  color: #9E9E9E;
}

.content {
  padding: 2em 5em;
  max-width: 700px;
}

footer {
  border-top: 1px solid #fff;
  font-size: 0.7em;
  text-align: center;
  margin: 2em 5em;
  width: auto;
  max-width: 700px;
}

.nav-list {
  padding: 0;
  list-style-type: none;
}

.left a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #1976D2;
}
